<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %}
{% block content %}
    <!-- Add this in the head section of your HTML file -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(../static/images/cart.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<span class="subheading">Checkout</span>
            </div>

          </div>
        </div>
      </div>
    </section>

  <section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 ftco-animate">
        <form action="{{ url_for('checkout') }}" method="POST" id="checkout-form" class="billing-form ftco-bg-dark p-3 p-md-5">
          <h3 class="mb-4 billing-heading">Billing Details</h3>
          <div class="row align-items-end">
            <div class="col-md-12">
              <div class="form-group">
                <label id="firstname">Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="Please Enter Your Name" required>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Add any additional form fields here -->
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label id="country">Location</label>
                <input type="text" name="location" class="form-control" placeholder="Please Enter Your Location" required>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label id="phone">Phone</label>
                <input type="text" name="phone" class="form-control" placeholder="e.g. 012 345 6789" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label id="emailaddress">Email Address</label>
                <input type="text" name="email_address" class="form-control" placeholder="e.g. email@address.com" required>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group mt-4">
                <div class="radio">
                  <label class="mr-3"><input type="radio" name="pickup_delivery" value="pickup" > Pickup</label>
                  <label><input type="radio" name="pickup_delivery" value="delivery"> Delivery</label>
                </div>
              </div>
            </div>

            <!-- Payment Method -->
            <div class="col-md-12">
              <div class="cart-detail ftco-bg-dark p-3 p-md-4">
                <h3 class="billing-heading mb-4">Payment Method</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="payment_method" value="direct_bank_transfer" class="mr-2"> Direct Bank Transfer</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="payment_method" value="tng" class="mr-2">TnG eWallet</label>
                    </div>
                  </div>
                </div>


                <!-- Hidden Fields -->
                <input type="hidden" name="subtotal" value="{{ subtotal }}">
                <input type="hidden" name="delivery" value="{{ delivery }}">
                <input type="hidden" name="total" value="0.00">

                <div class="form-group">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label><input type="checkbox" name="terms_conditions" value="1" class="mr-2"> I have read and accept the terms and conditions</label>
                    </div>
                  </div>
                </div>
                <p><button type="submit" form="checkout-form" class="btn btn-primary py-3 px-4">Place an order</button></p>
              </div>
            </div>
          </div>
        </form><!-- END -->
        <div class="row mt-5 pt-3 d-flex">
  <div class="col-sm-6 d-flex">
    <div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
              <h3 class="billing-heading mb-4">Cart Total</h3>
              <p class="d-flex">
                <span>Subtotal</span>
                <span id="cart-subtotal"></span>
              </p>
              <p class="d-flex">
                <span id="cart-delivery-label">Delivery</span>
                <span id="cart-delivery">RM 3.00</span>
              </p>

              <hr>
              <p class="d-flex total-price">
                <span>Total</span>
                <span id="cart-total"></span>
              </p>
              <hr>
              <h2>Your Orders</h2>
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section>


  </body>
<script>



  const cartTableBody = document.querySelector('#cart-table tbody');
  let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
  let total = 0;

  // Function to remove an item from the cartItems array
  function removeCartItem(index) {
    cartItems.splice(index, 1);
    localStorage.setItem('cartItems', JSON.stringify(cartItems));
    renderCartItems(); // Re-render the cart items after removing an item
  }

  function renderCartItems() {
    let subtotal = 0;
    let delivery = 0;

    const cartTotalBox = document.querySelector('.cart-total');

    // Remove existing cart item elements
    const existingCartItems = document.querySelectorAll('.cart-item');
    existingCartItems.forEach(item => item.remove());

    cartItems.forEach((item, index) => {
    subtotal += parseFloat(item.price.slice(2)) * item.quantity;

      // Create and append new element for each cart item
      const cartItemElement = document.createElement('div');
      cartItemElement.classList.add('cart-item');
      cartItemElement.innerHTML = `
        <h4>${item.name}</h4>
        <p>Price: ${item.price}</p>
        <p>Quantity: ${item.quantity}</p>
      `;
      cartTotalBox.appendChild(cartItemElement);
    });

    // Calculate subtotal, delivery, and total
    subtotal = cartItems.reduce((sum, item) => sum + parseFloat(item.price.slice(2)) * item.quantity, 0);
    delivery = 3.00; // Set delivery fee here
    total = subtotal + delivery;

    const cartSubtotalElement = document.querySelector('#cart-subtotal');
    cartSubtotalElement.textContent = `RM ${subtotal.toFixed(2)}`;

    const cartTotalElement = document.querySelector('#cart-total');
    cartTotalElement.textContent = `RM ${total.toFixed(2)}`;

    // Set the values of the hidden input fields
    document.querySelector('input[name="subtotal"]').value = subtotal.toFixed(2);
    document.querySelector('input[name="delivery"]').value = delivery.toFixed(2);
    document.querySelector('input[name="total"]').value = total.toFixed(2);

    console.log('subtotal: ', subtotal);
    console.log('delivery: ', delivery);
    console.log('total: ', total);
  }

  renderCartItems();

  console.log('cartItems: ', cartItems);
  document.querySelector('#checkout-form').addEventListener('submit', function(event) {
     // Get all the required input fields
    const requiredFields = document.querySelectorAll('input[required]');
    let allFieldsValid = true;

    // Loop through each required field and check if it's valid
    requiredFields.forEach(field => {
        if (!field.checkValidity()) {
            allFieldsValid = false;
            field.classList.add('invalid'); // Add a class to style the invalid field
        } else {
            field.classList.remove('invalid');
        }
    });

    // If not all fields are valid, prevent form submission and show an alert
    if (!allFieldsValid) {
        event.preventDefault();
        alert('Please fill in all the required fields');
    }
    Swal.fire({
        icon: 'success',
        title: 'Order successfully made!',
        showConfirmButton: false,
        timer: 1500
    });
    localStorage.removeItem('cartItems');
    // remove cartCount from localStorage
    localStorage.removeItem('cartCount');
});



  // when 'pickup' is selected, remove the delivery fee
    const deliveryPriceElement = document.querySelector('#cart-delivery');
  const deliveryLabelElement = document.querySelector('#cart-delivery-label');
const pickupRadioButton = document.querySelector('input[name="pickup_delivery"][value="pickup"]');
const deliveryRadioButton = document.querySelector('input[name="pickup_delivery"][value="delivery"]');

pickupRadioButton.addEventListener('change', function(event) {
    if (event.target.checked) {
        deliveryPriceElement.style.display = 'none';
                  deliveryLabelElement.style.display = 'none';
    }
});

deliveryRadioButton.addEventListener('change', function(event) {
    if (event.target.checked) {
        deliveryPriceElement.style.display = 'flex';
                  deliveryLabelElement.style.display = 'flex';
    }
});

</script>

</html>
{% endblock %}