<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %}
{% block content %}
    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(../static/images/gallery-1.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<span class="subheading">Services</span>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-services">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-5">
              	<span class="flaticon-choices"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Easy to Order</h3>
                <p>Our online platform makes it incredibly easy to place your order for to buy our products, from the comfort of your own home.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-5">
              	<span class="flaticon-delivery-truck"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Fastest Delivery</h3>
                <p>Experience the fastest delivery service in the industry, ensuring that your package arrives at your doorstep in record time.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-5">
              	<span class="flaticon-coffee-bean"></span></div>
              <div class="media-body">
                <h3 class="heading">Quality Coffee</h3>
                <p> Indulge in our exquisite selection of high-quality coffee, carefully sourced and expertly roasted to perfection, delivering a rich and flavorful experience with every sip.</p>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>


  </body>
</html>
{% endblock %}